.styleCard{
    float: left;
    margin: 3rem;
}

@media only screen and (max-width:980px) {
    #recipeContainer {
        max-width: 100%;
    }
 }
 
 @media only screen and (max-width:768px) {
    #recipeContainer {
        max-width: 100%;
    
    }
}
 
 @media only screen and (max-width: 640px) { 
    #recipeContainer{
        max-width: 100%;
   
    }
 }

#ingredient-form {
    margin: 0px auto;
    float: none;
    width: 1075px;
 }
 #ingredientBox{
    margin-top: 20px; 
 }
 
 #landingGif{
    width: 100%;
    margin: 0px auto;
    float: none;
 }
 .instructionsText{
    margin: 0px auto;
    float: none;
    text-align: center;
 }